# Gradle
.gradle/
build/

# Keep the Gradle wrapper JAR
!gradle/wrapper/gradle-wrapper.jar

# Ignore per-module build output, but allow source outputs if ever needed
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
## IDE project files
.idea/
## Module configurations and libraries
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
## Workspace settings
*.iws
*.iml
*.ipr
## IntelliJ output directory
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
## Eclipse build output
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# C Documentation
/docs/dokumentacja_C/

# Output
/src/main/resources/output/